@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html
{
    scroll-behavior: smooth;
}

.px-general
{
    padding-left: 10px;
    padding-right: 10px;
}
@media (min-width: 768px) 
{
    .px-general
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 992px) 
{
    .px-general
    {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/* */
#menu-1, #menu-2, #b-tienda
{
    transition: all ease .2s;
}
#navi
{
    transition: top linear 1s;
}
#menu-content
{
    transition: all linear 3s;
}
#menu-icon:hover #menu-1
{
    transform: translateX(-3px) translateY(-0.125rem);
}
#menu-icon:hover #menu-2
{
    transform: translateX(3px) translateY(0.125rem);
}
#menu-icon.active #menu-1
{
    transform: translateX(0) translateY(1.5px) rotate(45deg);
}
#menu-icon.active #menu-2
{
    transform: translateX(0) translateY(-1.5px) rotate(-45deg);
}
#menu-icon.active:hover #menu-1
{
    transform: translateX(0) translateY(1.5px) rotate(45deg);
}
#menu-icon.active:hover #menu-2
{
    transform: translateX(0) translateY(-1.5px) rotate(-45deg);
}
#menu-icon span::after
{
    content:"Menú";
}
#menu-icon.active span::after
{
    content:"Cerrar";
}
#menu-icon:hover span
{
    color: #f2f2f2;
}


#menu
{
    right: -150vw;
    transition: all ease-in-out .5s;
}
#menu.active
{
    right: 0px;
}
#backdrop
{
    opacity: 0;
    transition: all ease-in-out .5s;
}
#backdrop.active
{
    opacity: 90%;
}

#ticket-names .ticket:nth-child(even)
{
    background-color:rgb(250, 250, 250) !important;
}
#listado tr
{
    border-bottom:solid 1px rgb(229 231 235);
}
#listado tr:nth-child(even)
{
    background-color:rgb(249 250 251);
}
#listado tr:hover
{
    background-color: rgb(243 244 246);
}

.bg-colorido
{
    background:url(../../public/bg.png) center center;
    background-size:cover;
}
.isologo
{
    height:64px;
    text-align:center;
}
.guest-text
{
    color:#ffffff;
    text-align:center;
    text-shadow:1px 2px #ff2a66, 0 0 1em #ffad0d, 0 0 0.2em #02004f;
}
.remove-ticket
{
    background-color:white;
    border:solid 1px #dc3545;
    color:#dc3545;
}
.remove-ticket:hover
{
    background-color:#dc3545;
    color:white;
}
.ticket-listado
{
    padding-bottom:1.5em;
}
.ticket-listado:first-of-type
{
    padding-top:2em;
}